* {
    font-weight: bolder;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif ; */
    font-family: 'Poiret One', cursive;
}

body{
    color: white;
    min-height: 100vh;
    background:linear-gradient(-135deg, rgba(0, 159, 111, 0.819),rgb(0, 213, 255),rgb(0, 81, 255));
    /*background-color:seagreen;*/
}

.login-shi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    padding: 0;
}

.head{
    padding: 30px;
    font-size: 50px;
}

.back h1{
    margin-top: 30px;
    font-size: 40px;
}
/* main signup div */
.back{
    width: 800px;
    background: linear-gradient(0deg, rgba(9, 0, 49, 0),rgba(81, 0, 255, 0.607));
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* thing i put in */
.wrapper {
    color: white;
    border-radius: 0px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */

}

.in-wrp{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.in-wrp div{
    background: red;
    display: flex;
    justify-content: space-be;
}

.in-wrp1{
    width: 80%;
    display: flex;
}

.input-box input {
    width: 100%;
    /*height: 100%; */
    /* background: transparent; */
    /* border: none;
    outline: none; */
    border: 2px solid rgba(0, 255, 76, 0.671);
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    background-color: #0017757f;
}


.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
 /*   background: salmon; */
    margin: 30px;
}

.input-box input::placeholder {
    color: white;
}

/* .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: aliceblue;
} */

#email-inp{
    width: 200%;
}

/* .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    /* margin: -15px 0 15px;  */
    /* margin: 200px;
} */

/* .remember-forgot label input{
    accent-color: white;
    margin-right: 30px;
} */

/* .remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    background-color: #750000;
    text-decoration: underline;
    /* text-decoration: overline;
} */

/* forgot password  */


.wrapper .btn{
    margin-top: 65px;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;

    transition: 0.5s;

}


.btn:hover{
    background: rgb(255, 217, 0);
    background: rgb(0, 255, 238);

}

.btn:active{
    /* background: linear-gradient(90deg, rgba(0, 255, 225, 0.4), rgba(115, 0, 255, 0.477)); */
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, rgba(255, 217, 0, 0.409),rgba(0, 255, 204, 0.477)); */
}

.wrapper .register-link {
    font-size: 20px;
    text-align: center;
    margin: 50px 0 20px;
    
}

.register-link p a {
    color:#750000;
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.register-link p a:hover {
   /* text-decoration: underline;  */
    border-style: dotted;
    border-radius: 20px;
   /* color: aliceblue; */
}

a{
    text-decoration: none;
}