/* *{
    
} */
body{
    background-color: aliceblue;
    margin: 0;
}

/* nav-tag */
.nav-bar{ 
    background-color: rgb(188, 226, 255);
    font-size: 20px;
    padding: 5px;
    padding-bottom: 8px;
    /* display: flex; */
    
}

/* ul-tag */
.link-list{
    list-style: none;
    display: flex;
    justify-content: right;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.link-list-home{
    list-style: none;
    /* display: flex; */
    justify-content: left;
    position: absolute;
    top: 5px;
    font-family: 'Nova Square', cursive;
}


.X{
    font-size: 20px;
    font-weight: bolder;
}

.startx{
    font-family: 'Nova Square', cursive;
}

/* li-tag */
.each-link{
    padding-right: 50px;
}

/* a-tag */
.link-size{
    padding: 20px;
    transition: 0.9s;
    border-radius: 200px;
}

/* a-tag */
.link-size:hover{
    /* background: rgb(120, 161, 249); */
    color: white;
    background:linear-gradient(-90deg, rgba(0, 159, 119, 0.819),rgba(60, 60, 255, 0.819)), rgba(60, 60, 255, 0.719);
    border-radius: 200px;
}

.home-image{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 159, 119, 0.819),rgba(60, 60, 255, 0.819)), url("../images/homeImage.jpg");
    transition: background 10s;
    /* transition: linear 2s; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    /* font-size: 2rem; */
    font-family: 'Poiret One', cursive;
    align-content: space-between;
}

.home-image:hover{
    background-image: linear-gradient(-90deg, rgba(0, 159, 119, 0.819),rgba(60, 60, 255, 0.819)), url("../images/homeImage.jpg");
}

.img-head{
    margin-left: 200px;
    font-size: 45px;
}

.img-txt{
    margin-left: 200px;
    font-size: 30px;
    max-width: 30ch;
    text-align: left;
}

.history{
    margin: 70px;

    text-align: left;
    font-size: 30px;

    font-family: 'Poiret One', cursive;

    background: black;
    color: #DAFFFB;
}

.history-img{
    padding-left: 200px;
    padding-top: 100px;
    width: 10%;
}

.history-heading{
    padding-left: 200px;
}

.history-text{
    padding-left: 200px;
    padding-bottom: 200px;
    padding-right: 200px;
    line-height: 50px;
    max-width: 50ch;
}

.cmd{
    max-width: inherit;
    color: brown;
    font-size: 30px;
    font-family: monospace;
}

.work{
    margin: 70px;

    text-align: left;
    font-size: 30px;

    font-family: 'Poiret One', cursive;

    background: #176B87;
    color: #DAFFFB;
}

.work-heading{
    padding-left: 200px;
}

.work-txt{
    padding-left: 200px;
    padding-bottom: 200px;
    padding-right: 200px;
    line-height: 50px;
    max-width: 50ch;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}



