/* *{

} */

html {
    scroll-behavior: smooth;
}

body{
    background-color: aliceblue;
    margin: 0;
    background:linear-gradient(0deg, rgba(0, 159, 119, 0.819),rgb(255, 255, 255));
}

/* nav-tag */
.nav-bar{ 
    background-color: rgb(188, 226, 255);
    font-size: 20px;
    padding: 5px;
    padding-bottom: 8px;
    /* display: flex; */
    
}

@media screen and (max-width: 400px){
    
}

/* ul-tag */
.link-list{
    list-style: none;
    display: flex;
    justify-content: right;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.link-list-home{
    list-style: none;
    /* display: flex; */
    /* justify-content: left; */
    position: absolute;
    top: 5px;
    font-family: 'Nova Square', cursive;
}


.X{
    font-size: 20px;
    font-weight: bolder;
}

.startx{
    font-family: 'Nova Square', cursive;
}

/* li-tag */
.each-link{
    padding-right: 50px;
    
}

/* a-tag */
.link-size{
    padding: 20px;
    transition: 0.9s;
    border-radius: 200px;
}

/* a-tag */
.link-size:hover{
    /* background: rgb(120, 161, 249); */
    color: white;
    background:linear-gradient(-90deg, rgba(0, 159, 119, 0.819),rgba(60, 60, 255, 0.819)), rgba(60, 60, 255, 0.719);
    border-radius: 200px;
}

.home-image{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 159, 119, 0.819),rgba(60, 60, 255, 0.819)), url("../images/homeImage.jpg");
    transition: background 10s;
    /* transition: linear 2s; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    /* font-size: 2rem; */
    font-family: 'Poiret One', cursive;
    align-content: space-between;
}

/* .home-image:hover{
    background-image: linear-gradient(-90deg, rgba(0, 159, 119, 0.819),rgba(60, 60, 255, 0.819)), url("../images/homeImage.jpg");
} */

.img-head{
    text-align: left;
    margin-left: 200px;
    font-size: 45px;
}

.img-txt{
    margin-left: 200px;
    font-size: 30px;
    max-width: 30ch;
    text-align: left;
}

/* div-tag */
.home-image-btn{
    width: 200px;
    position: absolute; 
    right: 20%; 
}

.getting-started{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    width: 300px;
    padding: 30px;
    /* background-color: #176B87; */
    background-color: #28f7b28f;
    border-style: solid;
    border-color: aliceblue;
    color: aliceblue;
    transition: background-color 0.6s;
}

.getting-started:hover{
    cursor: pointer;
    /* background-color: #228cb0ad; */
    background-color: hsla(177, 100%, 53%, 0.416);
    font-weight: bold;
}

.home-section{
    margin-top: 90px;
    
}

.back{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheading{
    font-family:'Poiret One', cursive;
    font-size: 70px;
    position:sticky;
    margin-bottom: -200px;
    margin-top: 100px
}

.sbtn{
    font-family: 'Poiret One', cursive;
    padding: 3rem;
    font-size: 30px;
    margin: 50px;
    transition: 1s;
    font-weight: bold;
    background: linear-gradient(0deg,rgb(93, 98, 255), rgba(0, 255, 140, 0.487));
}
.sbtn:hover{
    background: #8000ff;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}



.abt-body{
    background: linear-gradient(0deg,rgba(60, 213, 255, 0.819), rgba(0, 5, 159, 0.819));
}

.abt-li0,.abt-li1, .abt-li2, .abt-li3,.abt-li4{
    width: 100px;
    height: 10px;
    right: 12px;
    position: fixed;
    display: inline-block;
    background-color: #3be3ef89;
    color: white;
    border-style: solid;
    border-radius: 20px;

    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;

    text-indent: 1000px;

    transition: 0.3s;
}

.abt-li0{
    top: 100px;
}

.abt-li1{
    top: 180px;
}

.abt-li2{
    top: 260px;
}

.abt-li3{
    top: 340px;
}
.abt-li4{
    top: 420px;
}

.abt-li0:hover, .abt-li1:hover, .abt-li2:hover, .abt-li3:hover,.abt-li4:hover{
    background-color: #00ffa6;
    cursor: pointer;
    padding: 10px;
    transform: scale(20px)
}

.history{
    margin: 150px;

    height: 100vh;

    text-align: left;
    font-size: 30px;

    font-family: 'Poiret One', cursive;

    background: black;
    color: aliceblue;

    border-radius: 30px;
    border-style: solid;
    border-color: rgb(255, 65, 65);
}

.history-img{
    padding-left: 200px;
    padding-top: 100px;
    width: 10%;
}

.history-heading{
    padding-left: 200px;
}

.history-text{
    padding-left: 200px;
    padding-bottom: 200px;
    padding-right: 200px;
    line-height: 50px;
    max-width: 50ch;
}

.cmd{
    max-width: inherit;
    color: brown;
    font-size: 30px;
    font-family: monospace;
}

.work{
    margin: 150px;

    height: 100vh;

    text-align: left;
    font-size: 30px;

    font-family: 'Poiret One', cursive;

    background: #176B87;
    color: aliceblue;
    /* color: #DAFFFB; */

    border-radius: 30px;
    border-style: solid;
    border-color: rgb(255, 65, 65);
}

.work-heading{
    padding-left: 200px;
}

.work-txt{
    padding-left: 200px;
    padding-bottom: 200px;
    padding-right: 200px;
    line-height: 50px;
    max-width: 50ch;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.each-link a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
}
  
  body::-webkit-scrollbar-track {
    background: #00ffa6;
}
  
  body::-webkit-scrollbar-thumb {
    background: #5d00ff;
}
::selection {
    color: rgb(255, 255, 255);
    background: rgb(128, 27, 116);
  }